body {
  h1 {
      font-size: 20px;
  }

  font-family: 'Gotham','Varela Round',sans-serif;
}

$cellHeight: 40px;

.container{
  width: 650px;
  margin: auto;
}

.title{
  line-height: 80px;
  font-size: 15px;

  input{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
  }

  button{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
}

.chart {
  color: white;
  margin: auto;
  width: 100%;
  font-size: 15px;


  .row{
    display: flex;
    margin: 0px 0px;
    line-height: $cellHeight;

    .spacer{
      min-width: 100px;
      padding-right: 0px;
      text-align: center;
    }

    .wrapper {
      flex-grow: 1;
      flex-shrink: none;
      display: flex;

      .cell {
        flex-grow: 1;
        min-width: 100px;
        text-align: center;
      }

      .case{
        cursor: pointer;
      }
    }

    .browser{
      background-color: #247BA0;
    }

    .name{
      background-color: #70C1B3;
    }

    .case{
      background-color: #F5F5F5;
      color: #777;

      &.probability_2{
        background-color: #F3FFBD;
      }

      // &.probability_0{
      //   background-color: #F3FFBD;
      // }

      &.probability_3{
        background-color: #F3FFBD;
      }
    }
  }

  .rows .row:hover{
    opacity: .8;
  }

  .rows .cell:hover{
    opacity: .6;
  }
}
