body {
  h1 {
      font-size: 20px;
  }
  
  font-family: 'Gotham','Varela Round',sans-serif;
  color: #888;
  font-size: 15px;

  input, textarea{
    color: #888;
  }
}

$cellHeight: 40px;

.container{
  max-width: 650px;
  margin: auto;
}

.title{
  line-height: 80px;

  input{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    margin-left: 10px;
  }

  button{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    color: #888;
  }
}

.chart {
  color: white;
  margin: auto;
  width: 100%;
  font-size: 15px;

  h2{
    color: #888;
    text-align: center;
  }

  h3{
    color: #888;
    text-align: left;
    margin: 30px 0 10px 0;
  }

  .row{
    display: flex;
    margin: 0px 0px;
    line-height: $cellHeight;
    -webkit-user-select: none;

    .spacer{
      min-width: 100px;
      padding-right: 0px;
      text-align: center;
    }

    .wrapper {
      flex-grow: 1;
      flex-shrink: none;
      display: flex;

      .cell {
        flex-grow: 1;
        min-width: 100px;
        text-align: center;
      }

      .case{
        cursor: pointer;
      }
    }

    .browser{
      background-color: #70C1B3;
    }

    .name{
      background-color: #B2DBBF;
    }

    .case{
      background-color: #F9F9F9;
      color: #888;

      &.probability_2{
        background-color: #F3FFBD;
      }

      // &.probability_0{
      //   background-color: #F3FFBD;
      // }

      &.probability_-1{
        color: #ccc;
      }

      &.probability_3{
        background-color: #F3FFBD;
      }
    }
  }

  .rows .row:hover{
    opacity: .8;
  }

  .rows .cell:hover{
    opacity: .6;
  }

  .description{
    display: block;
    width: 100%;
    margin: 0px 0;
    height: 100px;
    border-color: #eee;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
  }
}

.list{
  margin-top: 50px;
}
